.section-page {
  &>*+* {
    margin-top: 15px;
  }

  h3 {
    font-size: 22px;
    font-weight: 500;
  }

  .card-user_label {
    font-size: 22px;
    position: relative;
  }

  .card_user {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .user_disabled {
    opacity: 0.5;
  }

  .card {
    .logo-user {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      font-weight: bold;
      font-size: 18px;
      background-color: var(--primary);
    }

    &.user_disabled {
      .logo-user {
        background-color: #ebebeb;
        color: rgb(100, 100, 100);
        border-color: #d6d6d6;
      }
    }
  }

  .user-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    list-style: none;

    .li-map a {
      &:hover .card.user_disabled {
        box-shadow: none;
        transform: none;
      }
    }
  }
}